﻿<style>
.column_comment
{
	width:739px !important;
	border:0;
	margin-left:5px !important;
}
</style>
<div class="doc-wrap w-full">
	<div style="overflow:hidden;">
		<span class="file" style="display: none;"><%= filepath %></span>
		<span class="content" style="display: none;"><%= content %></span>
		<a class="remove-doc right-edit" href="#" alt="удалить" title="удалить"></a>
		<u class="file-name"><%= name %></u>
		&nbsp;(<span class="size"><%= size %></span>&nbsp;<span class="numbering_bytes"><%= sizetext %></span>)
		<table class="comment_holder">
			<tr>
				<td class="image" style="width:32px;">
				<% var version_ie = navigator.userAgent.indexOf('IE 8');%>
				<% if (version_ie != -1) { %>
					<img style="max-width:50px" src="images/scan.png" />
				<% } else { %>
					<a class="scan-doc" href="#" style="padding-left:5px">
						<img style="max-width:50px" src="images/scan.png" />
					</a>
				<% } %>
				</td>
				<td class="coment"><div class="inline_data_block">
					<div class="column_comment scan_DocumentType" id="cpw_form_scan_DocumentType"></div>
				</div></td>
			</tr>
		</table>
	</div>
</div>