@font-face
{
	font-family: "CPW-normal";
	src: url("../images/Normal.eot");
}

@font-face
{
	font-family: "CPW-bold";
	src: url("../images/Bold.eot");
}

input
{
    font-family: "CPW-normal";
    font-size: inherit;
}

body
{
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	color: #555;
	font-family: "CPW-normal" !important;
	background: #FFF;
}

#header
{
	height: 160px;
	background: #C9E0ED;
}

#footer
{
	height: 45px;
	background: #C9E0ED;
}

#cpw-form-select
{
	width: 600px;
}

#cpw-content-select
{
	width: 400px;
}

#forms_loaded_span, #contents_loaded_span, #form-editor-footer-buttons
{
	display: none;
}

#form-content-text-area
{
	width: 95%;
}

.right-edit
{
	float: right;
	margin: 5px 0;
}