<div>
<style>
</style>
<div class="cpw_forms_correspondence_letter">
	<div class="To">
		<div class="label">Получатель:</div>
		<div class="value"><select></select></div>
	</div>
	<div class="Body">
		<div class="label">Текст сообщения:</div>
		<div class="value">
			<textarea></textarea>
		</div>
	</div>
</div>
</div>